.body {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2E2F42;
    background-color: #FFF;
}

/* header */

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-web {
    color: #4D5AE5;
}

.menu {
    list-style-type: none;
}

.menu-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.menu-list:hover,
.menu-list:active,
.menu-list:focus {
    color: #404BBF;
}

.contacts {
    list-style-type: none;
}

.contacts-list {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.contacts-list:hover,
.contacts-list:active,
.contacts-list:focus {
    color: #404BBF;
}

/*  Main */
/* Section-dark */
.section-dark {
    background-color: #2E2F42;
}

.section-dark-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button-order {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px;
    cursor: pointer;
}

.button-order:hover,
.button-order:active,
.button-order:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* Section-1 */
.section1-title {
    display: none;
}

.section1-list {
    list-style-type: none;
}

.section1-list-titles {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
}

.section1-list-text {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: left;
}